.header-info
	.header-info--item.name
		.title Edwin Marroquin
	.header-info--item.item.subtitle FrontEnd Developer
	.header-info--item.item
		a.header-info--item_link(href="tel:3142670224")
			.icon.small.bell.color.animated.infinite.swing.fast
			span {{header.call}}
	.header-info--item.item
		a.header-info--item_link(href="mailto:marrokin2@gmail.com?subject=Saludo DevEm&body=Hola, queremos saludarte")
			.icon.small.mail.color.animated.infinite.pulse.faster
			span {{header.contact}}
.header-image
	img.header-image--img(src="./assets/img/profile.png" alt="edwin marroquin")
	span.header-image--info @devemloop
