meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="description" content="Curriculum <@devem>")
meta(name="keywords" content="curriculum, edwin marroquin, devem, javascript, css, html, fontend, developer")

title <@devemloop/>

//- Android
meta(name="theme-color" content="#2d3436")
meta(name="mobile-web-app-capable" content="yes")

//- iOS
meta(name="apple-mobile-web-app-title" content="Curriculum <@devem>")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

//- Windows
meta(name="msapplication-navbutton-color" content="#2d3436")
meta(name="msapplication-TileColor" content="#2d3436")
meta(name="msapplication-TileImage" content="./assets/img/icon_144x144.png")
meta(name="msapplication-config" content="./assets/img/browserconfig.xml")

meta(name="application-name" content="Curriculum <@devem>")
meta(name="msapplication-toltip" content="Curriculum Edwin Marroquin")
meta(name="msapplication-starturl" content="/")
meta(name="msapplication-highlight" content="no")

//- UC Browser
meta(name="full-screen" content="yes")
meta(name="browsermode" content="application")
meta(name="nightmode" content="enable/disable")
meta(name="layoutmode" content="fitscreeen/standard")
meta(name="imagemode" content="yes")

meta(name="orientation" content="portrait")

//- Favicon
link(rel="shortcut icon" type="image/png" href="./assets/img/icon_16x16.png")

//- Progressive Web Application
link(rel="manifest" href="./manifest.json")

//- Stylesheets
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/devicon.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devicon/2.2/devicon-colors.min.css")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

meta(name="" content="")
