ul.nav-items#routes
	li.nav-items--item
		a.nav-items--item_link(href="#/home")
			i.icon.small.home.acent
			span.span {{menu.home}}
	li.nav-items--item
		a.nav-items--item_link(href="#/skills")
			i.icon.small.skills.acent
			span.span {{menu.skills}}
	li.nav-items--item
		a.nav-items--item_link(href="#/works")
			i.icon.small.works.acent
			span.span {{menu.works}}
	li.nav-items--item
		a.nav-items--item_link(href="#/social")
			i.icon.small.network.acent
			span.span {{menu.social}}
	li.nav-items--item
		a.nav-items--item_link(href="#/friends")
			i.icon.small.friends.acent
			span.span {{menu.friends}}
	li.nav-items--item
		a.nav-items--item_link(href="#/about")
			i.icon.small.about.acent
			span.span {{menu.about}}
	li.nav-items--item
		a.nav-items--item_link(href="#/config")
			i.icon.small.config.acent
			span.span {{menu.config}}
script(scope-script).
