<!DOCTYPE html>
html(lang)
	head
		include pug/includes/meta.pug
	body
		header.header#header
			include pug/includes/header.pug
		main.main#main
		footer.footer#footer
			include pug/includes/footer.pug
		nav.nav#nav
			include pug/includes/navigate.pug

